<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Archive</key>
	<dict>
		<key>Outline</key>
		<array>
			<array>
				<array>
					<array>
						<string>1</string>
						<data>
						e1xydGYxXG1hY1xhbnNpY3BnMTAw
						MDBcY29jb2FydGY4MjRcY29jb2Fz
						dWJydGYxMDAKe1xmb250dGJsXGYw
						XGZzd2lzc1xmY2hhcnNldDc3IEFy
						aWFsTVQ7fQp7XGNvbG9ydGJsO1xy
						ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1
						NTt9ClxkZWZ0YWI3MjAKXHBhcmRc
						cGFyZGVmdGFiNzIwXHFsXHFuYXR1
						cmFsCgpcZjBcZnMyNiBcY2YwIE1l
						bnUgTmF2aWdhdGUgbWl0IFNob3J0
						Q3V0cyBmZWhsdH0=
						</data>
						<string>0</string>
						<string></string>
						<string></string>
						<string>0</string>
					</array>
					<string></string>
					<string></string>
					<string>-1902</string>
					<string>1523</string>
					<string>2</string>
					<string>1053200</string>
					<string></string>
					<string></string>
					<dict>
						<key>uid</key>
						<string>3D20520F-C6D0-11D9-9145-000D9330E5C6-307-0000001AD75D0364</string>
					</dict>
					<string>1</string>
				</array>
				<array>
					<array>
						<string>1</string>
						<data>
						e1xydGYxXG1hY1xhbnNpY3BnMTAw
						MDBcY29jb2FydGY4MjRcY29jb2Fz
						dWJydGYxMDAKe1xmb250dGJsXGYw
						XGZzd2lzc1xmY2hhcnNldDc3IEFy
						aWFsTVQ7fQp7XGNvbG9ydGJsO1xy
						ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1
						NTt9ClxkZWZ0YWI3MjAKXHBhcmRc
						cGFyZGVmdGFiNzIwXHFsXHFuYXR1
						cmFsCgpcZjBcZnMyNiBcY2YwIE1l
						bnUgVmlldzogQ3Vyc29yIHBvc2l0
						aW9uIGFuemVpZ2VufQ==
						</data>
						<string>0</string>
						<string></string>
						<string></string>
						<string>0</string>
					</array>
					<string></string>
					<string></string>
					<string>-287</string>
					<string>11</string>
					<string>3</string>
					<string>1053200</string>
					<string></string>
					<array>
						<array>
							<array>
								<string>1</string>
								<data>
								e1xydGYxXG1h
								Y1xhbnNpY3Bn
								MTAwMDBcY29j
								b2FydGY4MjRc
								Y29jb2FzdWJy
								dGYxMDAKe1xm
								b250dGJsXGYw
								XGZzd2lzc1xm
								Y2hhcnNldDc3
								IEFyaWFsTVQ7
								fQp7XGNvbG9y
								dGJsO1xyZWQy
								NTVcZ3JlZW4y
								NTVcYmx1ZTI1
								NTt9ClxkZWZ0
								YWI3MjAKXHBh
								cmRccGFyZGVm
								dGFiNzIwXHFs
								XHFuYXR1cmFs
								CgpcZjBcZnMy
								NiBcY2YwIGJl
								aW0gQ3Vyc29y
								IG1pdGxhdWZl
								bmR9
								</data>
								<string>0</string>
								<string></string>
								<string></string>
								<string>0</string>
							</array>
							<string></string>
							<string></string>
							<string>-276</string>
							<string>11</string>
							<string>4</string>
							<string>1053200</string>
							<string></string>
							<string></string>
							<dict>
								<key>uid</key>
								<string>7BC35B0B-C6D0-11D9-9145-000D9330E5C6-307-0000001BA8224017</string>
							</dict>
							<string>1</string>
						</array>
						<array>
							<array>
								<string>1</string>
								<data>
								e1xydGYxXG1h
								Y1xhbnNpY3Bn
								MTAwMDBcY29j
								b2FydGY4MjRc
								Y29jb2FzdWJy
								dGYxMDAKe1xm
								b250dGJsXGYw
								XGZzd2lzc1xm
								Y2hhcnNldDc3
								IEFyaWFsTVQ7
								fQp7XGNvbG9y
								dGJsO1xyZWQy
								NTVcZ3JlZW4y
								NTVcYmx1ZTI1
								NTt9ClxkZWZ0
								YWI3MjAKXHBh
								cmRccGFyZGVm
								dGFiNzIwXHFs
								XHFuYXR1cmFs
								CgpcZjBcZnMy
								NiBcY2YwIElu
								IGRlciBTdGF0
								dXNsZWlzdGV9
								</data>
								<string>0</string>
								<string></string>
								<string></string>
								<string>0</string>
							</array>
							<string></string>
							<string></string>
							<string>-264</string>
							<string>35</string>
							<string>5</string>
							<string>1053300</string>
							<string></string>
							<string></string>
							<dict>
								<key>uid</key>
								<string>87B47BB4-C6D0-11D9-9145-000D9330E5C6-307-0000001BCFEFBDEE</string>
							</dict>
							<string>1</string>
						</array>
						<array>
							<array>
								<string>1</string>
								<data>
								e1xydGYxXG1h
								Y1xhbnNpY3Bn
								MTAwMDBcY29j
								b2FydGY4MjRc
								Y29jb2FzdWJy
								dGYxMDAKe1xm
								b250dGJsXGYw
								XGZzd2lzc1xm
								Y2hhcnNldDc3
								IEFyaWFsTVQ7
								fQp7XGNvbG9y
								dGJsO1xyZWQy
								NTVcZ3JlZW4y
								NTVcYmx1ZTI1
								NTt9ClxkZWZ0
								YWI3MjAKXHBh
								cmRccGFyZGVm
								dGFiNzIwXHFs
								XHFuYXR1cmFs
								CgpcZjBcZnMy
								NiBcY2YwIEN1
								cnNvciBibGlu
								a3Qgb2RlciBi
								bGlua3Qgbmlj
								aHR9
								</data>
								<string>0</string>
								<string></string>
								<string></string>
								<string>0</string>
							</array>
							<string></string>
							<string></string>
							<string>-253</string>
							<string>7</string>
							<string>6</string>
							<string>1053200</string>
							<string></string>
							<string></string>
							<dict>
								<key>uid</key>
								<string>8C3CBA3C-C6D0-11D9-9145-000D9330E5C6-307-0000001BDF0ADEA4</string>
							</dict>
							<string>1</string>
						</array>
						<array>
							<array>
								<string>1</string>
								<data>
								e1xydGYxXG1h
								Y1xhbnNpY3Bn
								MTAwMDBcY29j
								b2FydGY4MjRc
								Y29jb2FzdWJy
								dGYxMDAKe1xm
								b250dGJsXGYw
								XGZzd2lzc1xm
								Y2hhcnNldDc3
								IEFyaWFsTVQ7
								fQp7XGNvbG9y
								dGJsO1xyZWQy
								NTVcZ3JlZW4y
								NTVcYmx1ZTI1
								NTt9ClxkZWZ0
								YWI3MjAKXHBh
								cmRccGFyZGVm
								dGFiNzIwXHFs
								XHFuYXR1cmFs
								CgpcZjBcZnMy
								NiBcY2YwIEN1
								cnNvci9Nb3Vz
								ZXBvc2l0aW9u
								IHN0aW1tdCBu
								aWNodCB3ZW5u
								IHpvb20gdmVy
								d2VuZGV0IHdp
								cmR9
								</data>
								<string>0</string>
								<string></string>
								<string></string>
								<string>0</string>
							</array>
							<string></string>
							<string></string>
							<string>-244</string>
							<string>11</string>
							<string>7</string>
							<string>1053200</string>
							<string></string>
							<string></string>
							<dict>
								<key>uid</key>
								<string>94481636-C6D0-11D9-9145-000D9330E5C6-307-0000001BF9DAC607</string>
							</dict>
							<string>1</string>
						</array>
					</array>
					<dict>
						<key>uid</key>
						<string>7A5DFF5F-C6D0-11D9-9145-000D9330E5C6-307-0000001BA37B29B7</string>
					</dict>
					<string>1</string>
				</array>
				<array>
					<array>
						<string>1</string>
						<data>
						e1xydGYxXG1hY1xhbnNpY3BnMTAw
						MDBcY29jb2FydGY4MjRcY29jb2Fz
						dWJydGYxMDAKe1xmb250dGJsXGYw
						XGZzd2lzc1xmY2hhcnNldDc3IEFy
						aWFsTVQ7fQp7XGNvbG9ydGJsO1xy
						ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1
						NTt9ClxkZWZ0YWI3MjAKXHBhcmRc
						cGFyZGVmdGFiNzIwXHFsXHFuYXR1
						cmFsCgpcZjBcZnMyNiBcY2YwIFRv
						b2xib3hlbn0=
						</data>
						<string>0</string>
						<string></string>
						<string></string>
						<string>0</string>
					</array>
					<string></string>
					<string></string>
					<string>-218</string>
					<string>7</string>
					<string>8</string>
					<string>1053200</string>
					<string></string>
					<array>
						<array>
							<array>
								<string>1</string>
								<data>
								e1xydGYxXG1h
								Y1xhbnNpY3Bn
								MTAwMDBcY29j
								b2FydGY4MjRc
								Y29jb2FzdWJy
								dGYxMDAKe1xm
								b250dGJsXGYw
								XGZzd2lzc1xm
								Y2hhcnNldDc3
								IEFyaWFsTVQ7
								fQp7XGNvbG9y
								dGJsO1xyZWQy
								NTVcZ3JlZW4y
								NTVcYmx1ZTI1
								NTt9ClxkZWZ0
								YWI3MjAKXHBh
								cmRccGFyZGVm
								dGFiNzIwXHFs
								XHFuYXR1cmFs
								CgpcZjBcZnMy
								NiBcY2YwIEFs
								bGUgVG9vbGJv
								eGVuIHp1a2xh
								cHBlbiwgc28g
								ZGFzcyBudXIg
								ZGllIFRpdGVs
								bGVpc3RlIHN0
								ZWhlbiBibGVp
								YnR9
								</data>
								<string>0</string>
								<string></string>
								<string></string>
								<string>0</string>
							</array>
							<string></string>
							<string></string>
							<string>-210</string>
							<string>9</string>
							<string>9</string>
							<string>1053200</string>
							<string></string>
							<string></string>
							<dict>
								<key>uid</key>
								<string>A2C11230-C6D0-11D9-9145-000D9330E5C6-307-0000001C2A179844</string>
							</dict>
							<string>1</string>
						</array>
					</array>
					<dict>
						<key>uid</key>
						<string>9E30D6C4-C6D0-11D9-9145-000D9330E5C6-307-0000001C1AE1D7F4</string>
					</dict>
					<string>1</string>
				</array>
				<array>
					<array>
						<string>1</string>
						<data>
						e1xydGYxXG1hY1xhbnNpY3BnMTAw
						MDBcY29jb2FydGY4MjRcY29jb2Fz
						dWJydGYxMDAKe1xmb250dGJsXGYw
						XGZzd2lzc1xmY2hhcnNldDc3IEFy
						aWFsTVQ7fQp7XGNvbG9ydGJsO1xy
						ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1
						NTt9ClxkZWZ0YWI3MjAKXHBhcmRc
						cGFyZGVmdGFiNzIwXHFsXHFuYXR1
						cmFsCgpcZjBcZnMyNiBcY2YwIE9i
						amVrdDogVGV4dH0=
						</data>
						<string>0</string>
						<string></string>
						<string></string>
						<string>0</string>
					</array>
					<string></string>
					<string></string>
					<string>-198</string>
					<string>21</string>
					<string>10</string>
					<string>1053200</string>
					<string></string>
					<array>
						<array>
							<array>
								<string>1</string>
								<data>
								e1xydGYxXG1h
								Y1xhbnNpY3Bn
								MTAwMDBcY29j
								b2FydGY4MjRc
								Y29jb2FzdWJy
								dGYxMDAKe1xm
								b250dGJsXGYw
								XGZzd2lzc1xm
								Y2hhcnNldDc3
								IEFyaWFsTVQ7
								fQp7XGNvbG9y
								dGJsO1xyZWQy
								NTVcZ3JlZW4y
								NTVcYmx1ZTI1
								NTt9ClxkZWZ0
								YWI3MjAKXHBh
								cmRccGFyZGVm
								dGFiNzIwXHFs
								XHFuYXR1cmFs
								CgpcZjBcZnMy
								NiBcY2YwIFdl
								bm4gVGV4dCBl
								ZGl0aWVydCB3
								aXJkIGdlaHQg
								ZGVyIERpYWxv
								ZyA8Rm9udD4g
								JiA8U3BlY2lh
								bCBDaGFyYWN0
								ZXJzPiBhdWYu
								XApXZW5uIGVk
								aXRpZXJlbiBi
								ZWVuZGV0IHdp
								cmQsIGdlaGVu
								IGJlaWRlIERp
								YWxvZ2UgenUu
								fQ==
								</data>
								<string>0</string>
								<string></string>
								<string></string>
								<string>0</string>
							</array>
							<string></string>
							<string></string>
							<string>-174</string>
							<string>16</string>
							<string>11</string>
							<string>1053200</string>
							<string></string>
							<string></string>
							<dict>
								<key>uid</key>
								<string>B7EA8FBA-C6D0-11D9-9145-000D9330E5C6-307-0000001C70A03F10</string>
							</dict>
							<string>1</string>
						</array>
					</array>
					<dict>
						<key>uid</key>
						<string>AF1E615F-C6D0-11D9-9145-000D9330E5C6-307-0000001C534DA95E</string>
					</dict>
					<string>1</string>
				</array>
				<array>
					<array>
						<string>1</string>
						<data>
						e1xydGYxXG1hY1xhbnNpY3BnMTAw
						MDBcY29jb2FydGY4MjRcY29jb2Fz
						dWJydGYxMDAKe1xmb250dGJsXGYw
						XGZzd2lzc1xmY2hhcnNldDc3IEFy
						aWFsTVQ7fQp7XGNvbG9ydGJsO1xy
						ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1
						NTt9ClxkZWZ0YWI3MjAKXHBhcmRc
						cGFyZGVmdGFiNzIwXHJpMFxxbFxx
						bmF0dXJhbAoKXGYwXGZzMjYgXGNm
						MCBPYmpla3Q6IExpbmllfQ==
						</data>
						<string>0</string>
						<string></string>
						<string></string>
						<string>0</string>
					</array>
					<string></string>
					<string></string>
					<string>-146</string>
					<string>8</string>
					<string>12</string>
					<string>1053200</string>
					<string></string>
					<array>
						<array>
							<array>
								<string>1</string>
								<data>
								e1xydGYxXG1h
								Y1xhbnNpY3Bn
								MTAwMDBcY29j
								b2FydGY4MjRc
								Y29jb2FzdWJy
								dGYxMDAKe1xm
								b250dGJsXGYw
								XGZzd2lzc1xm
								Y2hhcnNldDc3
								IEFyaWFsTVQ7
								fQp7XGNvbG9y
								dGJsO1xyZWQy
								NTVcZ3JlZW4y
								NTVcYmx1ZTI1
								NTt9ClxkZWZ0
								YWI3MjAKXHBh
								cmRccGFyZGVm
								dGFiNzIwXHFs
								XHFuYXR1cmFs
								CgpcZjBcZnMy
								NiBcY2YwIEV4
								YWt0IHZlcnRp
								a2FsZSB1bmQg
								aG9yaXpvbnRh
								bGUgTGluaWUg
								KHouQi4gbWl0
								IENvbnRyb2wp
								fQ==
								</data>
								<string>0</string>
								<string></string>
								<string></string>
								<string>0</string>
							</array>
							<string></string>
							<string></string>
							<string>-137</string>
							<string>15</string>
							<string>13</string>
							<string>1053200</string>
							<string></string>
							<string></string>
							<dict>
								<key>uid</key>
								<string>CD859E09-C6D0-11D9-9145-000D9330E5C6-307-0000001CB8A36A63</string>
							</dict>
							<string>1</string>
						</array>
						<array>
							<array>
								<string>1</string>
								<data>
								e1xydGYxXG1h
								Y1xhbnNpY3Bn
								MTAwMDBcY29j
								b2FydGY4MjRc
								Y29jb2FzdWJy
								dGYxMDAKe1xm
								b250dGJsXGYw
								XGZzd2lzc1xm
								Y2hhcnNldDc3
								IEFyaWFsTVQ7
								fQp7XGNvbG9y
								dGJsO1xyZWQy
								NTVcZ3JlZW4y
								NTVcYmx1ZTI1
								NTt9ClxkZWZ0
								YWI3MjAKXHBh
								cmRccGFyZGVm
								dGFiNzIwXHFs
								XHFuYXR1cmFs
								CgpcZjBcZnMy
								NiBcY2YwIEd1
								aWRlbGluZSBn
								ZXN0cmljaGVs
								dCBibGF1IG5p
								Y2h0IGdyYXUg
								KEViZW5zbyBh
								bmRlcmUgTGlu
								aWVub2JqZWt0
								ZSl9
								</data>
								<string>0</string>
								<string></string>
								<string></string>
								<string>0</string>
							</array>
							<string></string>
							<string></string>
							<string>-122</string>
							<string>8</string>
							<string>14</string>
							<string>1053200</string>
							<string></string>
							<string></string>
							<dict>
								<key>uid</key>
								<string>DB469C58-C6D0-11D9-9145-000D9330E5C6-307-0000001CE67AFBF2</string>
							</dict>
							<string>1</string>
						</array>
					</array>
					<dict>
						<key>uid</key>
						<string>C96BC8DA-C6D0-11D9-9145-000D9330E5C6-307-0000001CAAF84B0C</string>
					</dict>
					<string>1</string>
				</array>
				<array>
					<array>
						<string>1</string>
						<data>
						e1xydGYxXG1hY1xhbnNpY3BnMTAw
						MDBcY29jb2FydGY4MjRcY29jb2Fz
						dWJydGYxMDAKe1xmb250dGJsXGYw
						XGZzd2lzc1xmY2hhcnNldDc3IEFy
						aWFsTVQ7fQp7XGNvbG9ydGJsO1xy
						ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1
						NTt9ClxkZWZ0YWI3MjAKXHBhcmRc
						cGFyZGVmdGFiNzIwXHFsXHFuYXR1
						cmFsCgpcZjBcZnMyNiBcY2YwIE9i
						amVrdDogUmVjaHRlY2t9
						</data>
						<string>0</string>
						<string></string>
						<string></string>
						<string>0</string>
					</array>
					<string></string>
					<string></string>
					<string>-113</string>
					<string>8</string>
					<string>15</string>
					<string>1053200</string>
					<string></string>
					<array>
						<array>
							<array>
								<string>1</string>
								<data>
								e1xydGYxXG1h
								Y1xhbnNpY3Bn
								MTAwMDBcY29j
								b2FydGY4MjRc
								Y29jb2FzdWJy
								dGYxMDAKe1xm
								b250dGJsXGYw
								XGZzd2lzc1xm
								Y2hhcnNldDc3
								IEFyaWFsTVQ7
								fQp7XGNvbG9y
								dGJsO1xyZWQy
								NTVcZ3JlZW4y
								NTVcYmx1ZTI1
								NTt9ClxkZWZ0
								YWI3MjAKXHBh
								cmRccGFyZGVm
								dGFiNzIwXHJp
								MFxxbFxxbmF0
								dXJhbAoKXGYw
								XGZzMjYgXGNm
								MCBhLiBTZWxl
								a3Rpb24sIHdl
								bm4gQ2xpY2sg
								YXVmIExpbmll
								IChuaWNodCBp
								bm5lcmhhbGIp
								fQ==
								</data>
								<string>0</string>
								<string></string>
								<string></string>
								<string>0</string>
							</array>
							<string></string>
							<string></string>
							<string>-104</string>
							<string>11</string>
							<string>16</string>
							<string>1053200</string>
							<string></string>
							<string></string>
							<dict>
								<key>uid</key>
								<string>E1609825-C6D0-11D9-9145-000D9330E5C6-307-0000001CFAD11FDC</string>
							</dict>
							<string>1</string>
						</array>
					</array>
					<dict>
						<key>uid</key>
						<string>DBFABE70-C6D0-11D9-9145-000D9330E5C6-307-0000001CE8D36050</string>
					</dict>
					<string>1</string>
				</array>
				<array>
					<array>
						<string>1</string>
						<data>
						e1xydGYxXG1hY1xhbnNpY3BnMTAw
						MDBcY29jb2FydGY4MjRcY29jb2Fz
						dWJydGYxMDAKe1xmb250dGJsXGYw
						XGZzd2lzc1xmY2hhcnNldDc3IEFy
						aWFsTVQ7fQp7XGNvbG9ydGJsO1xy
						ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1
						NTt9ClxkZWZ0YWI3MjAKXHBhcmRc
						cGFyZGVmdGFiNzIwXHJpMFxxbFxx
						bmF0dXJhbAoKXGYwXGZzMjYgXGNm
						MCBQcmVmZXJlbmNlc30=
						</data>
						<string>0</string>
						<string></string>
						<string></string>
						<string>0</string>
					</array>
					<string></string>
					<string></string>
					<string>-91</string>
					<string>9</string>
					<string>17</string>
					<string>1053200</string>
					<string></string>
					<array>
						<array>
							<array>
								<string>1</string>
								<data>
								e1xydGYxXG1h
								Y1xhbnNpY3Bn
								MTAwMDBcY29j
								b2FydGY4MjRc
								Y29jb2FzdWJy
								dGYxMDAKe1xm
								b250dGJsXGYw
								XGZzd2lzc1xm
								Y2hhcnNldDc3
								IEFyaWFsTVQ7
								fQp7XGNvbG9y
								dGJsO1xyZWQy
								NTVcZ3JlZW4y
								NTVcYmx1ZTI1
								NTt9ClxkZWZ0
								YWI3MjAKXHBh
								cmRccGFyZGVm
								dGFiNzIwXHJp
								MFxxbFxxbmF0
								dXJhbAoKXGYw
								XGZzMjYgXGNm
								MCBIaW50ZXJn
								cnVuZGJpbGR9
								</data>
								<string>0</string>
								<string></string>
								<string></string>
								<string>0</string>
							</array>
							<string></string>
							<string></string>
							<string>-82</string>
							<string>8</string>
							<string>18</string>
							<string>1053200</string>
							<string></string>
							<string></string>
							<dict>
								<key>uid</key>
								<string>EE9E7E99-C6D0-11D9-9145-000D9330E5C6-307-0000001D26F3C23E</string>
							</dict>
							<string>1</string>
						</array>
						<array>
							<array>
								<string>1</string>
								<data>
								e1xydGYxXG1h
								Y1xhbnNpY3Bn
								MTAwMDBcY29j
								b2FydGY4MjRc
								Y29jb2FzdWJy
								dGYxMDAKe1xm
								b250dGJsXGYw
								XGZzd2lzc1xm
								Y2hhcnNldDc3
								IEFyaWFsTVQ7
								fQp7XGNvbG9y
								dGJsO1xyZWQy
								NTVcZ3JlZW4y
								NTVcYmx1ZTI1
								NTt9ClxkZWZ0
								YWI3MjAKXHBh
								cmRccGFyZGVm
								dGFiNzIwXHJp
								MFxxbFxxbmF0
								dXJhbAoKXGYw
								XGZzMjYgXGNm
								MCBGb250IFNt
								b290aGluZyBv
								biAvb2ZmfQ==
								</data>
								<string>0</string>
								<string></string>
								<string></string>
								<string>0</string>
							</array>
							<string></string>
							<string></string>
							<string>-74</string>
							<string>7</string>
							<string>19</string>
							<string>1053200</string>
							<string></string>
							<string></string>
							<dict>
								<key>uid</key>
								<string>F74FAE56-C6D0-11D9-9145-000D9330E5C6-307-0000001D43EC5DD9</string>
							</dict>
							<string>1</string>
						</array>
					</array>
					<dict>
						<key>uid</key>
						<string>EA048653-C6D0-11D9-9145-000D9330E5C6-307-0000001D179D8D3B</string>
					</dict>
					<string>1</string>
				</array>
				<array>
					<array>
						<string>1</string>
						<data>
						e1xydGYxXG1hY1xhbnNpY3BnMTAw
						MDBcY29jb2FydGY4MjRcY29jb2Fz
						dWJydGYxMDAKe1xmb250dGJsXGYw
						XGZzd2lzc1xmY2hhcnNldDc3IEFy
						aWFsTVQ7fQp7XGNvbG9ydGJsO1xy
						ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1
						NTt9ClxkZWZ0YWI3MjAKXHBhcmRc
						cGFyZGVmdGFiNzIwXHJpMFxxbFxx
						bmF0dXJhbAoKXGYwXGZzMjYgXGNm
						MCBSb3dzIHVuZCBDb2x1bW5zIGRl
						ZmluaWVyZW4gKHdpZSBIaWxmZSl9
						</data>
						<string>0</string>
						<string></string>
						<string></string>
						<string>0</string>
					</array>
					<string></string>
					<string></string>
					<string>-64</string>
					<string>11</string>
					<string>20</string>
					<string>1053200</string>
					<string></string>
					<string></string>
					<dict>
						<key>uid</key>
						<string>F9779830-C6D0-11D9-9145-000D9330E5C6-307-0000001D4B1BE9B1</string>
					</dict>
					<string>1</string>
				</array>
				<array>
					<array>
						<string>1</string>
						<data>
						e1xydGYxXG1hY1xhbnNpY3BnMTAw
						MDBcY29jb2FydGY4MjRcY29jb2Fz
						dWJydGYxMDAKe1xmb250dGJsXGYw
						XGZzd2lzc1xmY2hhcnNldDc3IEFy
						aWFsTVQ7fQp7XGNvbG9ydGJsO1xy
						ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1
						NTt9ClxkZWZ0YWI3MjAKXHBhcmRc
						cGFyZGVmdGFiNzIwXHJpMFxxbFxx
						bmF0dXJhbAoKXGYwXGZzMjYgXGNm
						MCBPYmpla3RlIGtvcGllcmVufQ==
						</data>
						<string>0</string>
						<string></string>
						<string></string>
						<string>0</string>
					</array>
					<string></string>
					<string></string>
					<string>-53</string>
					<string>10</string>
					<string>21</string>
					<string>1053200</string>
					<string></string>
					<array>
						<array>
							<array>
								<string>1</string>
								<data>
								e1xydGYxXG1h
								Y1xhbnNpY3Bn
								MTAwMDBcY29j
								b2FydGY4MjRc
								Y29jb2FzdWJy
								dGYxMDAKe1xm
								b250dGJsXGYw
								XGZzd2lzc1xm
								Y2hhcnNldDc3
								IEFyaWFsTVQ7
								fQp7XGNvbG9y
								dGJsO1xyZWQy
								NTVcZ3JlZW4y
								NTVcYmx1ZTI1
								NTt9ClxkZWZ0
								YWI3MjAKXHBh
								cmRccGFyZGVm
								dGFiNzIwXHJp
								MFxxbFxxbmF0
								dXJhbAoKXGYw
								XGZzMjYgXGNm
								MCBEcmFnIGFu
								ZCBEcm9wIG1p
								dCBDb250cm9s
								fQ==
								</data>
								<string>0</string>
								<string></string>
								<string></string>
								<string>0</string>
							</array>
							<string></string>
							<string></string>
							<string>-42</string>
							<string>7</string>
							<string>22</string>
							<string>1053200</string>
							<string></string>
							<string></string>
							<dict>
								<key>uid</key>
								<string>060D08A7-C6D1-11D9-9145-000D9330E5C6-307-0000001D750D0FC0</string>
							</dict>
							<string>1</string>
						</array>
					</array>
					<dict>
						<key>uid</key>
						<string>059822E0-C6D1-11D9-9145-000D9330E5C6-307-0000001D73876FEE</string>
					</dict>
					<string>1</string>
				</array>
				<array>
					<array>
						<string>1</string>
						<data>
						e1xydGYxXG1hY1xhbnNpY3BnMTAw
						MDBcY29jb2FydGY4MjRcY29jb2Fz
						dWJydGYxMDAKe1xmb250dGJsXGYw
						XGZzd2lzc1xmY2hhcnNldDc3IEFy
						aWFsTVQ7fQp7XGNvbG9ydGJsO1xy
						ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1
						NTt9ClxkZWZ0YWI3MjAKXHBhcmRc
						cGFyZGVmdGFiNzIwXHJpMFxxbFxx
						bmF0dXJhbAoKXGYwXGZzMjYgXGNm
						MCBJbmZvIEZlbnN0ZXIgbWl0IENv
						bnRyb2xDbGljayBhdWYgU2VsZWt0
						b3IgKHNpZWhlIEhpbGZlIDQuNSl9
						</data>
						<string>0</string>
						<string></string>
						<string></string>
						<string>0</string>
					</array>
					<string></string>
					<string></string>
					<string>-31</string>
					<string>15</string>
					<string>23</string>
					<string>1053200</string>
					<string></string>
					<string></string>
					<dict>
						<key>uid</key>
						<string>0D2E0346-C6D1-11D9-9145-000D9330E5C6-307-0000001D8CCFC544</string>
					</dict>
					<string>1</string>
				</array>
				<array>
					<array>
						<string>1</string>
						<data>
						e1xydGYxXG1hY1xhbnNpY3BnMTAw
						MDBcY29jb2FydGY4MjRcY29jb2Fz
						dWJydGYxMDAKe1xmb250dGJsXGYw
						XGZzd2lzc1xmY2hhcnNldDc3IEFy
						aWFsTVQ7fQp7XGNvbG9ydGJsO1xy
						ZWQyNTVcZ3JlZW4yNTVcYmx1ZTI1
						NTt9ClxkZWZ0YWI3MjAKXHBhcmRc
						cGFyZGVmdGFiNzIwXHJpMFxxbFxx
						bmF0dXJhbAoKXGYwXGZzMjYgXGNm
						MCBMaW5pZW5hYnN0YW5kIGRlcyBc
						J2UzRGVzdHJveWVkIE9iamVjdHNc
						J2QyIGV0d2FzIGJyZWl0ZXJ9
						</data>
						<string>0</string>
						<string></string>
						<string></string>
						<string>0</string>
					</array>
					<string></string>
					<string></string>
					<string>-13</string>
					<string>10</string>
					<string>24</string>
					<string>1053300</string>
					<string></string>
					<string></string>
					<dict>
						<key>uid</key>
						<string>1C344B84-C6D1-11D9-9145-000D9330E5C6-307-0000001DBEE38964</string>
					</dict>
					<string>1</string>
				</array>
			</array>
			<string>0</string>
			<string></string>
			<string>2</string>
		</array>
		<key>Page name</key>
		<string>Priorität 3</string>
		<key>Save Date</key>
		<string>0.2495039999485016</string>
	</dict>
	<key>Archive Date</key>
	<string>2005-05-17 14:42:25 +0200</string>
	<key>Archive Version</key>
	<string>1.0</string>
	<key>Classname Array</key>
	<array>
		<string>MutableOutlineCellString-0</string>
		<string>OutlineCell-2</string>
		<string>Outline-0</string>
	</array>
</dict>
</plist>
