<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Archive</key>
	<dict>
		<key>Index Version</key>
		<string>1</string>
	</dict>
	<key>Archive Date</key>
	<string>2005-07-06 12:56:17 +0200</string>
	<key>Archive Version</key>
	<string>1.0</string>
</dict>
</plist>
